* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}

body {
    height: 100%;
    height: 100vh;
    max-height: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

/* banner section */

#banner {
    background-color: navy;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100vw;
    height: 10%;
}

h1 {
    font-family: "Indie Flower", cursive;
    font-weight: bold;
    font-size: 3rem;
}

/* intro section */

#intro {
    background-color: #d6d6ff;
    color: navy;
    text-align: center;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    border: navy 2px solid;
    border-radius: 10px;
    margin: 0.5% 0.5% 0 0.5%;
    padding: 0.5%;
    padding: 0.5vw;
}

/* app section */

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 0 0.5%;
}

#in,
#out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

label {
    font-weight: bold;
}

button {
    background-color: #d6d6ff;
    border: 2px solid navy;
    border-radius: 10px;
    color: navy;
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 5px;
    padding: 10px;
}

button:hover,
button:focus {
    color: white;
    background-color: navy;
}

textarea {
    padding: 10px 0 0 10px;
    border: 2px solid navy;
    border-radius: 10px;
    height: fit-content;

    font-size: 1.25rem;

    min-height: 180px;
    width: 90%;
    width: 90vw;
}

p {
    font-style: italic;
}

#inbox {
    background-color: #e6aace;
}

#outbox {
    background-color: #fbd87f;
}

.in-label,
.out-label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 90%;
    width: 90vw;
    margin-top: 1%;
    border-radius: 10px;
}

/* "about" modal*/

#about {
    background-color: rgba(0, 0, 128);
    border-radius: 10px 10px 0 0;
    bottom: 4%;
    color: white;
    height: fit-content;
    max-height: 90%;
    overflow: auto;
    padding: 0.5rem 15px;
    position: absolute;
    width: fit-content;
    visibility: hidden;
}

#about_text,
#about_text > b,
#about_text > a {
    color: white;
}

#open_close {
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bold;
    padding: 5px;
    width: fit-content;
}

.vis {
    animation: fadeUp 1s forwards;
}

.invis {
    animation: fadeOut 1s forwards;
}

.hidden {
    visibility: hidden;
}

/* footer section */

footer {
    align-items: center;
    background-color: navy;
    bottom: 0;
    color: white;
    display: flex;
    height: 5%;
    justify-content: left;
    width: 100%;
    z-index: +10;
}

footer > p {
    cursor: pointer;
    margin-left: 15px;
    padding: 1px;
}

footer > p:hover {
    color: navy;
    background-color: white;
}

@keyframes fadeUp {
    from {
        opacity: 0%;
        visibility: hidden;
    }
    to {
        opacity: 100%;
        visibility: visible;
    }
}

@keyframes fadeOut {
    from {
        opacity: 100%;
        visibility: visible;
    }
    to {
        opacity: 0%;
        visibility: hidden;
    }
}

@media screen and (max-width: 1026px) {
    textarea {
        min-height: 120px;
    }
}

@media screen and (max-width: 440px) {
    h1 {
        font-size: 2rem;
    }
    textarea {
        font-size: 16px;
        min-height: 120px;
    }
    button {
        font-size: 16px;
    }
    #in,
    #out {
        flex-direction: column;
    }
    #about {
        border-radius: 10px;
    }
}
